/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/* Use Flex for Nav, Skills and Projects */
.flex-container,
.skills,
.projects {
    display: flex;
    flex-wrap: wrap;
    margin: 10px
}
a {
    color: black
}

h1 {
    text-align: center;
}

/* Color for the nav bar */
.flex-container {
    background-color: lightgray; 
}

/* Spacing and opacity for the Nav items */
.flex-container > div {
    margin: 10px;
    padding: 20px;
    opacity: .6;
}

/* Change Nav Menu items on hover over */
.flex-container > div:hover {
    background-color: gray;
    flex: wrap;
    opacity: 1;
}

/* Size and shape of the profile image */
.profile-img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

/* Styling for the About Me section */
.about-me {
    text-align: center;
    margin-bottom: 20px;
}

/* Set the inital settings for individual skills */
.skills > div {
    margin: 10px;
    padding: 20px;
    background-color: lightgray;
    color: black;
    opacity: .5;
}

/* Change the color and opacity of the individual skills during hover */
.skills > div:hover {
    background-color: gray;
    color: white;
    opacity: 1;
}

/* Evenly distribute cards across the screen */
.projects {
    justify-content: space-around;
}

/* Have cards satart off with 50% opacity */
.card{
    opacity: .5;
}

/* Remove opacity on card hover */
.card:hover{
    opacity: 1;
}

/* Center the Contact section */
.contact {
    text-align: center;
}

@media (max-width: 600px) {
    .skills {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 600px) {
    .nav-item {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }
}