/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.navbar,
.skills,
.projects {
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    margin: 10px;
    padding: 20px;
    background-color: lightgray;
    color: black;
}

.navbar > div {
    opacity: .2;
}

.navbar > div:hover {
    background-color: gray;
    color: black;
    flex: wrap;
    opacity: 1;
}
a:hover {
    background-color: gray;
    color: white;
}
.profile-img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.about-me {
    text-align: center;
    margin-bottom: 20px;
}

.skills > div {
    margin: 10px;
    padding: 20px;
    background-color: lightgray;
    color: black;
    opacity: .5;
}
.skills > div:hover {
    background-color: gray;
    color: white;
    opacity: 1;
}
.projects {
    justify-content: space-around;
}
.card{
    opacity: .5;
}
.card:hover{
    opacity: 1;
}

.contact {
    text-align: center;
}