/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header {
    background-color: lightblue;
}
.flex-container {
    display: flex;
    background-color: gray;
}
li {
    margin: 10px;
    padding: 20px;
    background-color: greenyellow;
}

.profile-img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

#about-me {
    text-align: center;
    margin-bottom: 20px;
}